<h2>Password Delivered</h2>

<p>A new temporary password has been generated and e-mailed to you. When you have received the message, <%= link_to "return to the log in page", :action => 'login' %>.</p>
